# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Freescale_Vision_Group_16\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
